{% extends 'base.html' %}
{% block content %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	
	<div class="carousel-inner">
		<div class="carousel-item active">
			<h1 class="font-weight-bold">The Awards Scheme</h1>
			<img class="d-block w-100" src="static/img/awards6.jpg" alt="First slide" style="height:520px" width="100px">
			<div class="carousel-caption d-none d-md-block text-primary" style="font-size: 20px">
				
				<!-- <h1 class=" font-weight-bold">VIEW PROJECTS</h1> -->
				<a href="{% url 'project' %}"><button class="btn btn-lg btn-info  font-weight-bold">View Projects</button></a>

			</div>
		</div>
		
</div>
<style>
h1{
	text-align: center;
}
button{
	font-family: Arial, Helvetica, sans-serif;
}
</style>


{% endblock %}