{% extends 'base.html' %}
{% load bootstrap4 %} {% load staticfiles %}

{% block content %}
<div class="container ">
	<div class="card border p-5">
		<div class="card-header border-bottom" style="color: navy;">
      <h3>Project Details</h3>
		</div>
		<form action="{%url 'new_post'%}" method="post" enctype="multipart/form-data">
			<div class="card-body border-0">
				{%csrf_token%}

				{% bootstrap_form form%}

			</div>
			<div class="card-footer border-top">
				<input type="submit" class="btn btn-primary btn-lg " value="POST">

			</div>
		</form>
	</div>
</div>
<style>
	.container{
		background-image: url("https://media.istockphoto.com/photos/abstract-blurred-white-color-background-with-bokeh-light-for-design-picture-id1059959980?k=20&m=1059959980&s=612x612&w=0&h=VNIaIPlY3gQVpYzy30CBpK_WFTeVwpCoDw_6aAtYVkE=");
	}
</style>

{% endblock %}