{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
{% for post in posts %}
{{ post.user }}
<div class="container">
	<div class="card-deck">
		<div class="card">
			<img class="card-img-top" src="{{ post.image1.url }}" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This is card has a bit more content.</p>
			</div>
			<div class="card-footer">
				<small class="text-muted">Last updated (time)</small>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top" src="{{ post.image2.url }}" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This card has  additional content.</p>
			</div>
			<div class="card-footer">
				<small class="text-muted">Last updated(time) </small>
			</div>
		</div>
		
	</div>
</div>
{{ endfor }}
{% endblock %}